
.flex
{
    list-style-type: none;
    padding: 5px 15px 15px 5px;
}

.flex .icon
{
    width: 35px;
    height: 35px;

}

/* media queries */
@media only screen 
  and (min-device-width: 210px) 
  and (max-device-width:320px)
{
  #desktop-logo
  {

  width: 40% !important;
  }
  #mobile-logo
  {
      width: 90% !important;
  }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
{

  #desktop-logo
  {

  width: 40% !important;
  }
  #mobile-logo
  {
      width: 90% !important;
  }
  
}
@media only screen 
  and (min-device-width:480px) 
  and (max-device-width:620px)
{
  #desktop-logo
  {

  width: 40% !important;
  }
  #mobile-logo
  {
      width: 90% !important;
  }
  
}
@media only screen 
  and (min-device-width:620px) 
  and (max-device-width:720px)
  {
    #desktop-logo
    {
  
    width: 40% !important;
    }
    #mobile-logo
    {
        width: 90% !important;
    }
  }
@media only screen 
  and (min-device-width:720px) 
  and (max-device-width:820px)
  {
    #desktop-logo
    {
  
    width: 40% !important;
    }
    #mobile-logo
    {
        width: 90% !important;
    }

}
@media only screen 
  and (min-device-width:820px) 
  and (max-device-width:1200px)
  {
    #desktop-logo
    {
  
    width: 40% !important;
    }
    #mobile-logo
    {
        width: 90% !important;
    }




}


